---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="flex items-center animate font-semibold text-black dark:text-white space-x-2">
      <h1 class="text-4xl md:text-5xl">Blog</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="RSS Feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-black dark:text-white" viewBox="0 0 24 24" fill="currentColor">
          <path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"></path>
          <path d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"></path>
          <circle cx="6" cy="18" r="2"></circle>
        </svg>
        <span class="sr-only">RSS Feed</span>
      </a>
    </div>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <span class="animate">
            <p>
              Trying to make this blog mine.
            </p>
          </span>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">Latest posts</h2>
          <Link href="/blog"> See all posts </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">
            Recent projects
          </h2>
          <Link href="/projects"> See all projects </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h2 class="font-semibold text-black dark:text-white">Let's Connect</h2>
        <article>
          <p>
            If you want to get in touch with me about something or just to say
            hi, reach out on social media or send me an email.
          </p>
        </article>
        <ul class="not-prose flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.TITLE}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</Layout>
